@import "fonts";
@import "reset";

html {
    font-family: Euclid, sans-serif !important;
}
* {
    box-sizing: border-box !important;
}
#__next {
    min-height: 100vh;
    overflow-x: clip;
}

.container {
    width: 1136px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 1200px) {
        width: 900px;
    }

    @media (max-width: 992px) {
        width: 90%;
    }

    @media only screen and (max-width: 767px) {
        width: 92%;
    }
}